@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* <weight>: Use a value from 100 to 900
   font-family: "Work Sans", sans-serif;*/
/*font-family: "Montserrat", sans-serif;*/

:root{

  --cor-fundo: #0D0B0B;
  --cor-textoescuro: #252126;
  --cor-textocinza: #8C7672;
  --cor-textoclaro: #D9C4BF;
  --cor-detalhes: #C18280;
  --branco: #fff;

  --fonte-titulo: "Bodoni Moda", serif;
  --fonte-paragrafo: "Raleway", serif;
}


@media screen and (min-width: 901px){

    /* Configurações Gerais */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .titulo_intro{
    font-family: var(--fonte-titulo);
    font-size: 3rem;
    color: var(--cor-textoescuro);
  }
  .titulo2{
    font-family: var(--fonte-titulo);
    font-size: 1.38rem;
  }
  .titulo3{
    text-decoration: none;
    font-family: var(--fonte-paragrafo);
    font-size: 1.28rem;
  }
  .paragrafo{
    text-decoration: none;
    font-family: var(--fonte-paragrafo);
    font-size: 1rem;
    line-height: 1.3rem;
  } 


  /* Cabeçalho */  
  .imagem_menu{
    display: none;
  }
  .cabecalho{
    padding: 1% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: var(--cor-fundo);
    z-index: 1;
  }
  .cabecalho-circulo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
  }
  .imagem-circulo{
    width: 32px;
  }
  .cabecalho-nome{
    text-decoration: none;
    color: var(--cor-textoclaro);
    font-family: var(--fonte-titulo);
    font-size: 1.2rem;
  }
  .cabecalho-menu{
    text-decoration: none;
    list-style-type: none;
    display: flex;
  }
  .cabecalho-menulink{
    text-decoration: none;
    color: var(--cor-textoclaro);
    font-size: 1.125rem;
    font-family: var(--fonte-paragrafo);
    padding: 0 0.5rem;
  }
  .cabecalho-menulink:hover{
    color: var(--cor-textocinza);
  }
  /* #onpage{
    color: white;
    font-size: 1.125rem;
    border: 2px solid var(--cor-detalhes);
    border-radius: 50px;
    padding: 0.6rem;
  } */

  /* Primeira seção - Introdução */
  .introducao{
    padding: 60px 3% 0 10%;
    background-image: url("../images/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--cor-fundo);
    height: 36.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .introducao > .titulo_intro{
    color: var(--branco);
  }
  .introducao > .titulo2{
    color: var(--branco);
  }
  .scrolldown{
    width: fit-content;
    align-items: center;
    margin-top: 1rem;width: fit-content;
    border: 2px solid var(--cor-detalhes);
    border-radius: 50px;
    padding: 0.625rem 1rem 0.625rem 1rem;
    display: flex;
    align-content: center;
    align-items: center;
    gap: 0.7rem;
  }
  .scrolldown > .paragrafo{
    color: var(--branco);
    font-weight: 600;
  }
  .seta{
  width: 1rem;
  }


  /* Segunda seção - Texto sobre mim */
  .sobremim{
    display: flex;
    gap: 10%;
    position: relative;
    margin-top: -50px;
  }
  .bolinha{
    width: 1rem;
    height: 1rem;
    background-color: var(--cor-detalhes);
    border-radius: 50%;
  }
  .titulo_sobremim > .titulo3{
    color: var(--cor-textocinza);
  }
  .titulo_sobremim{
    width: 100%;
    align-self: center;
    padding-left: 10%;
  }
  .colorido{
    width: 200%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    background-color: var(--cor-detalhes);
    padding: 2rem 1rem 2rem 1rem;
    position: relative;
  }
  .colorido > .paragrafo{
    color: var(--branco);
    width: 80%;
  }
  .colorido > .paragrafo > a{
    color: var(--branco);
    text-align: left;
  }
  .colorido > .paragrafo > a:visited{
    color: var(--branco);
  }
  .colorido > .scrolldown{
    border: 2px solid var(--branco);
    width: fit-content;
    font-weight: 700;
  } 


  /* Terceira seção - Habilidade e conhecimentos */
  .skills{
    margin-top: 5%;
    padding: 5% 10%;
    margin-bottom: 5%;
  }
  .titulo_skills{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2%;
  }
  .titulo_skills > .titulo2{
    font-family: var(--fonte-titulo);
    color: var(--cor-textoescuro);
    font-size: 2rem;
  }
  .div_skills > .paragrafo{
    color: var(--cor-textocinza);
  }
  .div_skills{
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  .card_skill_1, .card_skill_2, .card_skill_3{
    border: 1px solid var(--cor-textocinza);
    padding: 2rem;
    border-radius: 50px;
    
  }
  .card_skill_1{
    flex: 3;
  }
  .card_skill_2{
    flex: 1;
  }
  .card_skill_3{
    flex: 2;
  }



  /* Quarta seção - Curriculo */  
  .curriculo{
    background-color: var(--cor-textoclaro);
    padding: 0 10% 5% 10%;
    position: relative;
  }
  .imagem-circulo-curriculo{
    position: relative;
    width: 60px;
    margin-top: -30px;
    margin-bottom: 25px;
    margin-left: 47%;
  }
  .curriculo > .titulo2{
    color: var(--cor-detalhes);
    font-family: var(--fonte-titulo);
    font-size: 3rem;
    margin-bottom: 3rem;
    font-weight: 800;
  }
  .educacao > .titulo3{
    color: var(--cor-textoescuro);
    margin: 0.6rem 0 0.6rem 0;
  }
  .educacao > .paragrafo{
    color: var(--cor-textoescuro);
    font-size: 0.8rem;
    width: 10rem;
  }
  .experiencia > .titulo3{
    color: var(--cor-textoclaro);
    margin-bottom: 1rem;
  }
  .experiencia > .paragrafo{
    color: var(--cor-textoclaro);
  }
  .div_curriculo{
    display: flex;
    gap: 5rem;
  }
  .div_experiencia{
    display: block;
    max-width: 750px;
  }
  .experiencia{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-textoescuro);
    margin: 0 0 5% 0;
    padding: 1.5rem;
    border-radius: 50px;      
  }
  .div_educacao{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-left: 1px solid var(--cor-textoescuro);
    padding-left: 1rem;
    min-width: 15.125rem;
  }
  .educacao{
    margin-top: 5%;
  }
  .div_linkedin{
    display: flex;
    gap: 0.7rem;
    align-items: center;
    justify-content: center;
    margin: 5% 5% 0% 5%;
  }
  .linkedin{
    font-family: var(--fonte-paragrafo);
    text-decoration: none;
    color: var(--cor-detalhes);
    font-weight: 600;
  }
  .imagem_linkedin{
    width: 1.5rem;
  }
  .linkedin:hover{
    color: var(--cor-textoescuro);
  }
  .relatorio{
    color: var(--branco);
    text-decoration: underline;
  }
  .relatorio:hover {
    color: var(--cor-detalhes);
  }  



  /* Quinta seção - Projetos */
  .projetos{
    padding: 0 10% 0% 10%;
    background-color: var(--cor-fundo);
    position: relative;
  }
  .titulo_projetos{
    padding: 5% 0;
    display: flex;
    align-items: center;
  }
  .titulo_projetos > .titulo_intro{
    padding: 0 1rem;
    color: var(--cor-textoclaro);
  }
  .div_projetos{
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    overflow-x: scroll; 
    overflow-y: hidden;
    padding-bottom: 1rem;
  }
  .div_projetos::-webkit-scrollbar{
    height: 0.09rem;
  }
   .div_projetos::-webkit-scrollbar-thumb{
    background-color: var(--cor-textoclaro);
   }
  .projeto-card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: var(--cor-textoescuro);
    width: 20rem;
    height: 36rem;
    padding:2rem;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: .5rem;
  }

  .imagem_projeto{
    width: 13.75rem;
    border-radius: 15px;
    filter: brightness(0.8);
    box-shadow: 8px 8px 24px rgba(94, 54, 53, 0.8);
  }
  .projeto-card > .titulo3{
    color: var(--cor-detalhes);
    font-size: 1.5rem;
  }
  .projeto-card ul{
    padding: 1rem;
  }
  .projeto-card > .paragrafo, li{
    color: var(--cor-textoclaro);
    text-align: left;
  }
  .projeto-card > .link_projeto{
    text-decoration: none;
    font-family: var(--fonte-titulo);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: var(--cor-detalhes);
    cursor: pointer;
  }
  .imagem-circulo-linha{
      width: 60px;
      height: 60px;
      margin-bottom: -33px;
      margin-left: 47%;
      margin-top: 6%;
  }

  .seta-esquerda, .seta-direita {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    cursor: pointer;
    border: none;
    z-index: 100;
  }
  .seta-esquerda { 
    left: 5%;
  }
  .seta-direita { 
    right: 5%; 
  }
  .fa-backward, .fa-forward{
    color: var(--cor-detalhes);
    font-size: 1.5rem; 
  }

  /*RODAPÉ*/
  .footer{
    background-color: var(--cor-detalhes);
    padding: 6% 0% 2% 0%;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .imagem_telefone{
    width: 1.2rem;
  } 
  .imagem_email, .imagem_linkedin, .imagem_github{
    width: 2rem;
  }
  .div_rodape{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .rodape{
    display: flex;
    gap: 0.625rem;
    align-items: center;
    margin-bottom: 2%;
  }
  .rodape_textos{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .rodape_textos > .paragrafo{
    color: var(--branco);
  }
  .rodape_textos > .paragrafo > a{
    color: var(--branco);
  }
  .rodape-telefone{
    text-decoration: underline;
    color: var(--branco);

  }
  .rodape-email{
    color: var(--branco);
    text-decoration: underline;
  }
  .rodape-telefone:hover {
    color: var(--cor1);
  }
  .rodape-email:hover {
    color: var(--cor1);
  }

}