@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* <weight>: Use a value from 100 to 900
   font-family: "Work Sans", sans-serif;*/
/*font-family: "Montserrat", sans-serif;*/

:root{

  --cor-fundo: #0D0B0B;
  --cor-textoescuro: #252126;
  --cor-textocinza: #8C7672;
  --cor-textoclaro: #D9C4BF;
  --cor-detalhes: #C18280;
  --branco: #fff;

  --fonte-titulo: "Bodoni Moda", serif;
  --fonte-paragrafo: "Raleway", serif;
}

@media screen and (max-width: 900px){

  
  /* Configurações Gerais */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .titulo_intro{
    font-family: var(--fonte-titulo);
    font-size: 2rem;
    color: var(--cor-textoescuro);
  }
  .titulo2{
    font-family: var(--fonte-titulo);
    font-size: 1.8rem;
  }
  .titulo3{
    text-decoration: none;
    font-family: var(--fonte-paragrafo);
    font-size: 1.28rem;
  }
  .paragrafo{
    text-decoration: none;
    font-family: var(--fonte-paragrafo);
    font-size: 1rem;
    line-height: 1.3rem;
   } 


  /* Cabeçalho */
  .cabecalho{
    padding: 1%;
    position: fixed;
    width: 100vw;
    background-color: var(--cor-fundo);
    z-index: 1;
  }
  .imagem_menu{
    width: 35px;
  }
  .cabecalho-circulo{
    display: none;
  }
  .cabecalho-menu{
    padding-left: 1rem;
    list-style-type: none;
    display: none;
    width: auto;
  }
  .cabecalho-menulink{
    text-decoration: none;
    color: var(--cor-textoclaro);
    font-size: 1.2rem;
    font-family: var(--fonte-paragrafo);
    padding: 0 0.5rem;
    line-height: 2rem;
  }
  .cabecalho-menulink:hover{
    color: var(--cor-textocinza);
  }



  /* Primeira seção - Introdução */
  .introducao{
    padding: 25% 3%;
    background-image: url("../images/fundo_mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .introducao > .titulo_intro{
    color: var(--branco);
    font-size: 1.8rem;
  }
  .introducao > .titulo2{
    color: var(--branco);
    font-size: 1.2rem;
  }
  .seta{
    width: 16px;
  }
  .scrolldown{
    margin-top: 2rem;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    border: 2px solid var(--cor-detalhes);
    border-radius: 50px;
    padding: 0.625rem;
  }
  .scrolldown > .paragrafo {
    color: var(--branco);
    font-weight: 600;
  }
  
  /* Segunda seção - Texto sobre mim */
  .sobremim{
    padding: 5% 0 5% 3%;
    display: flex;
    gap: 2rem;
    position: relative;
    margin-top: -50px;
  }
  .bolinha{
    width: 1rem;
    height: 1rem;
    background-color: var(--cor-detalhes);
    border-radius: 50%;
  }
  .titulo_sobremim{
    margin-top: 15%;
  }
  .titulo_sobremim > .titulo3{
    font-size: 1rem;
    color: var(--cor-textocinza);
  }
  .colorido{
    color: var(--branco);
    display: flex;
    flex-direction: column;
    background-color: var(--cor-detalhes);
    padding: 1.5rem 1rem;
    position: relative;
    gap: 1rem;
  }
  .colorido > .scrolldown{
    border: 2px solid var(--branco);
    width: fit-content;
    font-weight: 700;
  } 
  .colorido > .paragrafo{
    color: var(--branco);
    text-align: left;
  }
  .colorido > .paragrafo > a{
    color: var(--branco);
  }
  .colorido > .paragrafo > a:visited{
    color: var(--branco);
  }


  /* Terceira seção - Habilidade e conhecimentos */
  .skills{
    padding: 10% 3% 10% 3%;
    margin-bottom: 10%;
  }
  .titulo_skills{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.258rem;
    margin-bottom: 1rem;
  }
  .titulo_skills > .titulo2{
    font-size: 1.3rem;
    color: var(--cor-textoescuro);
  }
  .div_skills > .paragrafo{
    color: var(--cor-textocinza);
    border: 1px solid var(--cor-textocinza);
    padding: 1.5rem;
    border-radius: 30px;
  }
  .div_skills{
    display: grid;
    grid-template-columns: repeat(3, 18.75rem);
    gap: 0.5rem;
    overflow: scroll;
  }
  .div_skills::-webkit-scrollbar{
    height: 0.5rem;
  }
  .div_skills::-webkit-scrollbar-thumb{
    background-color: var(--cor-textoclaro);
    border-radius: 0.5rem;
  }
  .card_skill_1, .card_skill_2, .card_skill_3{
    margin-bottom: 1rem;
  } 


  /* Quarta seção - Curriculo */
  .curriculo{
    background-color: var(--cor-textoclaro);
    padding: 0 3% 10% 3%;
    position: relative;
  }
  .imagem-circulo-curriculo{
    position: relative;
    width: 60px;
    margin-top: -30px;
    margin-bottom: 25px;
    margin-left: 40%;
  }
  .curriculo > .titulo2{
    color: var(--cor-detalhes);
    font-family: var(--fonte-titulo);
    font-size: 1.75rem;
    margin-bottom: 2rem;
    font-weight: 800;
  }
  .educacao > .titulo3{
    color: var(--cor-textoescuro);
    margin: 0.6rem 0 0.6rem 0;
    width: 80%;
  }
  .educacao > .paragrafo{
    color: var(--cor-textoescuro);
    width: 60%;
    font-size: 0.8rem;
  }
  .experiencia > .titulo3{
    color: var(--cor-textoclaro);
    margin-bottom: 1rem;

  }
  .experiencia > .paragrafo{
    color: var(--cor-textoclaro);
    flex-grow: 1;
  }
  .div_curriculo{
    display: grid;
    grid-template-rows: 1 auto;
    gap: 3rem;
  }
  .div_experiencia{
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    gap: 0.5rem;
    overflow: scroll;
  }
  .experiencia::-webkit-scrollbar{
    height: 0.5rem;
  }
   .experiencia::-webkit-scrollbar-thumb{
    background-color: var(--cor-textoclaro);
    border-radius: 0.5rem;
   }
  .experiencia{
    background-color: var(--cor-textoescuro);
    margin-bottom: 5%;
    padding: 2rem;
    border-radius: 50px;
    display: flex;
    flex-direction: column;     
  }
  
  .div_educacao{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-left: 1px solid var(--cor-textoescuro);
    padding-left: 1rem;
  }
  .educacao{
     margin-top: 5%;
  }
  .div_linkedin{
    display: flex;
    gap: 0.7rem;
    align-items: center;
    justify-content: center;
    margin: 15% 5% 5% 5%;
  }
  .linkedin{
    font-family: var(--fonte-paragrafo);
    text-decoration: none;
    color: var(--cor-detalhes);
    font-weight: 600;
  }
  .imagem_linkedin{
    width: 1.5rem;
  }
  .linkedin:hover{
    color: var(--cor-textoescuro);
  }
  .relatorio{
    color: var(--branco);
    text-decoration: underline;
  }
  .relatorio:hover {
    color: var(--cor-detalhes);
  }  

  /* Quinta seção - Projetos */
  .projetos{
    padding: 10% 10% 0% 10%;
    background-color: var(--cor-fundo);
  }
  .titulo_projetos{
    padding: 3% 0;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;;
  }
  .titulo_projetos > .titulo_intro{
    padding: 0 1rem;
    color: var(--cor-textoclaro);
  }
  .div_projetos{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: ;
    gap: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .div_projetos::-webkit-scrollbar{
    height: 0.5rem;
  }
   .div_projetos::-webkit-scrollbar-thumb{
    background-color: var(--cor-textoclaro);
    border-radius: 0.5rem;
   }
  .projeto-slide {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: var(--cor-textoescuro);
    width: 16rem;
    padding: 1.125rem;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: .5rem;
  }
  .imagem_projeto{
    width: 13.75rem;
    height: 12.81rem;
    border-radius: 15px;
    filter: brightness(0.8);
  }
  .projeto-slide > .titulo3{
    color: var(--cor-detalhes);
    font-size: 1.5rem;
  }
  .projeto-slide > .paragrafo{
    color: var(--cor-textoclaro);
    text-align: left;
  }
  .projeto-slide > .link_projeto{
    text-decoration: none;
    font-family: var(--fonte-titulo);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: var(--cor-detalhes);
    cursor: pointer;
  }
  .imagem-circulo-linha{
      width: 60px;
      height: 60px;
      margin-bottom: -33px;
      margin-left: 40%;
      margin-top: 5rem;
  }


  /* Rodapé */
  .footer{
    background-color: var(--cor-detalhes);
    padding: 20% 3% 2% 3%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .imagem_telefone{
    width: 1rem;
  } 
  .imagem_email{
    width: 1.5rem;
  }
  .imagem_linkedin, .imagem_github{
    width: 2rem;
  }
  .div_rodape{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .rodape{
    display: flex;
    gap: 0.625rem;
    align-items: center;
    margin-bottom: 2%;
  }
  .rodape_textos{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .rodape_textos > .paragrafo{
    color: var(--branco);
  }
  .rodape_textos > .paragrafo > a{
    color: var(--branco);
  }
  .rodape-telefone{
    text-decoration: underline;
    color: var(--branco);
  }
  .rodape-email{
    color: var(--branco);
    text-decoration: underline;
  }
  .rodape-telefone:hover {
    color: var(--cor1);
  }
  .rodape-email:hover {
    color: var(--cor1);
  }

}


@media (max-width: 767px) and (orientation: landscape){
  
  .introducao{
    padding: 18% 3% ;
  }
  
  .sobremim{
    margin-top: -80px;
  }
  
  .colorido{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    background-color: var(--cor-detalhes);
    padding: 2rem 1rem 2rem 1rem;
    position: relative;
  }
  .colorido > .paragrafo{
    color: var(--branco);
    width: 80%
  }
  .skills{
    padding: 5% 3% 5% 3%;
  } 
  .div_skills{
    flex-direction: row;
  }
  .div_curriculo{
    flex-direction: row;
  }
  .div_educacao{
    order: 1;
  }
  .footer{
    flex-direction: row;
    padding: 10% 3% 2% 3%;
    justify-content: space-evenly;
  }
}