@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* <weight>: Use a value from 100 to 900
   font-family: "Work Sans", sans-serif;*/
/*font-family: "Montserrat", sans-serif;*/

:root{

  --cor-fundo:#EDEDED;
  --cor-texto: #474341;
  --cor1: #C8C6C7;
  --cor2: #1A1055;

  --fonte-titulo: "Bodoni Moda", serif;
  --fonte-paragrafo: "Raleway", serif;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  position: relative; 
}
body::before{
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  width: 26%;
  height: 100vh;
  background-image: url("../images/fundo.svg");
  opacity: 1;
  background-position: left;
  background-size: cover;
  background-repeat: repeat-x;
}
hr{
  margin: 2% 5%;
  border: 0;
  border-top: 1px solid var(--cor1);
}
.linha{
  margin: 8% 5%;
  border: 0;
  border-top: 1px solid var(--cor1);
}
#onpage{
  color: var(--cor2);
  font-weight: 700;
  font-size: 1.3rem;
}
.titulo_intro{
  margin: 0;
  font-family: var(--fonte-titulo);
  font-size: 4rem;
  color: var(--cor2);
}
.titulo2{
  font-family: var(--fonte-paragrafo);
  font-weight: bold;
  font-size: 1.5rem;
}
.titulo3{
  text-decoration: none;
  font-family: var(--fonte-paragrafo);
  font-size: 1.28rem;
}
.paragrafo{
  text-decoration: none;
  font-family: var(--fonte-paragrafo);
  font-size: 1rem;
  line-height: 1.55rem;
}

/*CABEÇALHO*/
.cabecalho{
  padding-top: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  background-color: var(--cor-fundo);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
}
.cabecalho::before{
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  width: 26%;
  height: 100vh;
  background-image: url("../images/fundo.svg");
  opacity: 0.11;
  z-index: 0;
   background-position: right;
  background-size: cover;
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-size: cover;
}

.cabecalho-menu{
  display: flex;
  align-items: center;
  border-top: 1px solid var(--cor-texto);
  border-bottom: 1px solid var(--cor-texto);
  padding: 0.687rem;
}
.cabecalho-menulink{
  text-decoration: none;
  color: var(--cor-texto);
  font-size: 1.375rem;
  font-family: var(--fonte-paragrafo);
  padding: 0 0.5rem;
}

.cabecalho-menulink:hover{
  color: var(--cor1);
}

/*RODAPÉ*/
footer{
  display: flex;
  justify-content: space-between;
  padding: 5%;
}
.rodape{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}
.rodape-telefone{
  text-decoration: underline;
  color: var(--cor-texto);
  text-align: left;
}
.rodape-email{
  color: var(--cor-texto);
  text-decoration: underline;
}
.rodape-telefone:hover {
  color: var(--cor1);
}

.rodape-email:hover {
  color: var(--cor1);
}
.site_wix:hover {
  color: var(--cor1);
}

@media (min-width: 350px) and (max-width: 767px) {

  .cabecalho{
    left:0;
  }
  
 .cabecalho-menulink{
  font-size: 1rem;
  
 }
  .footer{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
}