
@media only screen and (max-width: 767px){

  .imagem_menu {
    padding: 0px 0px 0px 10px;
    cursor: pointer;
  }
  .cabecalho-menu{
    display: none;
  }
  .cabecalho-menulink{
    font-size: 1.5rem;
  }
  #onpage{
    font-size: 1.5rem;
   }
  main{
    padding: 80px 6% 8% 6%;
    display: flex;
    flex-direction: column;
  }
  .introducao{
    display: flex;
    flex-direction: column;
  }
  .titulo_intro{
    order: -1;
  }
  .imagem-circulo{
    width: 80px;
    display: block;
    align-items: center;
    justify-content: center;
    align-self: center; 
    margin: 8% auto; 
  }
  .imagem-pessoal{
    padding-bottom: 25px;
    width: 80%;
    display: block;
    margin: auto;
  }
  .titulo2{
    font-size: 1rem;
  }
  .botao{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
    width: 100%;
    
  }  
  .footer{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 8% 6%;
  }
  .rodape{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}


@media (max-width: 767px) and (orientation: landscape){
  .imagem-pessoal{
    width: 50%;
  }
  .cabecalho{
    position: inherit;  
  }
}

@media screen and (min-width: 768px) {

  .imagem_menu{
    display: none;
  }
  .cabecalho{
    position: fixed;
    padding-bottom: 9px;
    padding-top: 9px;
  }
  .cabecalho-menu{
    display: flex;
    justify-content: center;
  }
  .cabecalho-menulink{
    padding: 0.5rem;
    border-bottom: 1px solid var(--cor-texto);
    border-top: 1px solid var(--cor-texto);     
  }
  main{
    padding: 80px 6% 3% 6%;
  }
  .introducao {
    padding: 5%;
    display: grid;
    grid-template-columns: 500px 200px 330px;
    grid-template-rows: 80px 250px 100px;
  }
  .titulo_intro{
    grid-area: 1 / 1 / 2 / 2;
  }
  .paragrafo{
    grid-area: 2 / 1 / 3 / 2;
  }
  picture{
    grid-area: 1 / 3 / 3 / 4;
  }
  .imagem-circulo{
    grid-area: 2 / 2 / 3 / 3;
    width: 85px;
    justify-self: center;
    align-self: center;
  }
  .botao{
    grid-area: 3 / 1 / 3 / 4;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    gap: 1rem;
    width: 100%;
  }
  .botao > .titulo2{
    font-size: 1.5rem;
  }
  .footer{
    display: flex;
    flex-direction: row;
    padding: 0% 6% 1% 6%;
    justify-content: space-between;
  }
}


/* Extra large devices (large laptops and desktops, 1200px and up)*/
@media screen and (min-width: 1400px) {
.introducao{
  width: 100%;
   justify-content: center;
  }
}



@supports not (display: grid){
@media (min-width: 768px){
    
  .imagem_menu {
    padding: 0px 0px 0px 10px;
    cursor: pointer;
  }
  .cabecalho-menu{
    display: none;
  }
  main{
    padding: 80px 6% 8% 6%;
    display: flex;
    flex-direction: column;
  }
  .introducao{
    display: flex;
    flex-direction: column;
  }
   .titulo_intro{
    order: -1;
  }
  .imagem-circulo{
    width: 80px;
    display: block;
    align-items: center;
    justify-content: center;
    align-self: center; 
    margin: 8% auto; 
  }
  .imagem-pessoal{
    padding-bottom: 25px;
    width: 40%;
    display: block;
    margin: auto;
  }
  .botao{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    width: 100%;
  } 
  .footer{
    display: flex;
    flex-direction: flex;
    gap: 1.5rem;
    padding: 8% 6%;
  }
  .rodape{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
}
