@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* <weight>: Use a value from 100 to 900
   font-family: "Work Sans", sans-serif;*/
/*font-family: "Montserrat", sans-serif;*/

:root{
  --cor-fundo:#EDEDED;
  --cor-texto: #474341;
  --cor1: #C8C6C7;
  --cor2: #1A1055;

  --fonte-titulo: "Bodoni Moda", serif;
  --fonte-paragrafo: "Raleway", serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  position: absolute;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  background-image: url("../images/fundo_transparente.png");
  width: 100%;
}

hr{
  margin: 2% 5%;
  border: 0;
  border-top: 1px solid var(--cor1);
}
.linha{
  margin: 8% 5%;
  border: 0;
  border-top: 1px solid var(--cor1);
}
#onpage{
  color: var(--cor2);
  font-weight: 700;
  font-size: 1.375rem;
}
.titulo_intro{
  margin: 0;
  font-family: var(--fonte-titulo);
  font-size: 3rem;
  color: var(--cor2);
}
.titulo2{
  font-family: var(--fonte-paragrafo);
  font-weight: bold;
  font-size: 1.38rem;
}
.titulo3{
  text-decoration: none;
  font-family: var(--fonte-paragrafo);
  font-size: 1.28rem;
}
.paragrafo{
  text-decoration: none;
  font-family: var(--fonte-paragrafo);
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: justify;
} 

.cabecalho{
  padding-top: 1rem;
  position: fixed;
  width: 100%;
  background-image: url("../images/fundo_transparente.png");
  background-color: var(--cor-fundo);
}
.cabecalho-menu{
  padding: 0.687rem;
  list-style-type: none;
}

.cabecalho-menulink{
  text-decoration: none;
  color: var(--cor-texto);
  font-size: 1.375rem;
  font-family: var(--fonte-paragrafo);
  padding-left: 2rem;
}
.cabecalho-menulink:hover{
  color: var(--cor1);
}

.botao-cv, .botao-projeto, .botao-contato{
  text-decoration: none;
  background-color: var(--cor-texto);
  color: var(--cor1);
  border-radius: 49px;
  width: 9.31rem;
  height: 3.625rem;
  vertical-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.botao-cv:hover, .botao-projeto:hover, .botao-contato:hover{
  border: 0.0675rem solid var(--cor-texto);
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}


/*RODAPÉ*/


.rodape{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2px;
}
.rodape-telefone{
  text-decoration: underline;
  color: var(--cor-texto);
  text-align: left;
}
.rodape-email{
  color: var(--cor-texto);
  text-decoration: underline;
}
.rodape-telefone:hover {
  color: var(--cor1);
}
.rodape-email:hover {
  color: var(--cor1);
}



